.banner{
    width: 1200px;
    margin: 0 auto;
    top: 0;
}
.main__banner{
    width: 1200px;
    height: 64vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    
    
    
    
}

.main__banner .banner__content{
    z-index: 1;
    height: 50vh;
    position: relative;
    text-align: left;
    padding: 128px 0 35px 35px;
    

}

.main__banner .banner__image{
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    z-index: 0;
    opacity: 0.8;
}
.banner__hulk__image{
    width: 69.5%;
    opacity: .8;
    top: 0;
    filter: hue-rotate(358deg);
    filter: saturate(400%);
}

.bruce__banner{
    font-size: 2rem;
}

.banner__hulk{
    font-size: 1rem;
    padding: 0;
}

.banner__parrafo{
    font-size: 1rem;
    padding: 0;
    line-height: 1.5;
}

.skills{
    border-radius: 9px;
    width: 31%;
    position: relative;
    top: 0;
    bottom: 0;
    display: flex;
    text-align: center; 
    flex-direction: column;
    align-items: center;
}

.skill__contenedor{
    left: 0;
    right: 0;
    position: absolute;
    padding: 15px;
    border-radius: 5px;
    background: linear-gradient(450deg,rgba(32, 100, 32, 0.053), rgb(1, 105, 32));
    
}   

.skill__hulk{
    width: 100%;
    padding: 25px 25px;
    
}


.details__skills{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.menu{
    position: relative;
    border: 2px solid #29879c;
    border-radius: 20px;
}

.menu div{
    position: relative;
    width: 0;
    height: 5px;
    background-color: #29879c;
}

/*Animación*/

#fuerza-menu{
    animation: fuerza-barra 2s forwards;
}

@keyframes fuerza-barra{
    100%{
        width: 100%;
    }
}

#fuerza-salto{
    animation: salto-barra 2s forwards;
}

@keyframes salto-barra{
    100%{
        width: 90%;
    }
}

#fuerza-velocidad{
    animation: salto-velocidad 2s forwards;
}

@keyframes salto-velocidad{
    100%{
        width: 90%;
    }
}

#fuerza-resistencia{
    animation: salto-resistencia 2s forwards;
}

@keyframes salto-resistencia{
    100%{
        width: 90%;
    }
}

#fuerza-inmunidad{
    animation: salto-inmunidad 2s forwards;
}

@keyframes salto-inmunidad{
    100%{
        width: 90%;
    }
}

#fuerza-regeneracion{
    animation: salto-regeneracion 2s forwards;
}

@keyframes salto-regeneracion{
    100%{
        width: 90%;
    }
}

